@font-face
  font-family: "Proxima Nova"
  src: local('Proxima Nova Light'), url("../fonts/ProximaNova-Light.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Proxima Nova'
  src: local('Proxima Nova Regular'), url('../fonts/ProximaNova-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Proxima Nova"
  src: local('Proxima Nova Semibold'), url("../fonts/ProximaNova-Semibold.woff") format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: "Baskerville Display PT"
  src: local('Baskerville Display PT'), url("../fonts/BaskervilleDisplayPT-Bold.woff2") format("woff2")
  font-weight: bold
  font-style: normal
