html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  background: #ffffff;
  overflow-x: hidden;
  color: #222222;
}

img {
  max-width: 100%;
}

button,
input,
label {
  font-family: "Proxima Nova", sans-serif;
  outline: none;
}
